<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>servlet.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>servlet.TopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>servlet.ContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>servlet.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyContentServlet</servlet-name>
        <servlet-class>servlet.ReplyContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bbsServlet</servlet-name>
        <servlet-class>servlet.bbsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>servlet.ChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/TopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/ContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyContentServlet</servlet-name>
        <url-pattern>/ReplyContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/ChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/abc/def/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>